.work_experience_container ul {
    list-style-type: none;
}

.work_experience_container ul li::before {
    content: "\2022";
    color: #595959;
    display: inline-block;
    width: 1em;
    margin-left: -0.9em;
    font-weight: bold;
    font-size: 1.1rem;
}

.work_experience_container ul li {
    max-width: 540px;
    margin-top: 10px;
    color: #595959;
    margin-left: 0;
}

.work_experience_container h4 {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 16px;
}

.work_experience_container h3 {
    color: #2b2b2b;
    margin-top: 60px;
    font-size: 22px;
}

.work_experience_container h4 span {
    margin-top: 60px;
    font-size: 16px;
}

.work_experience_container h4 span {
    color: #ff6b08;
    font-weight: bold;
}

.date {
    color: #a8a8a8;
    font-size: 12px;
}

.separator {
    margin-left: 25px;
}

.country {
    margin-left: 5px;
}
