.skills_container {
    box-sizing: border-box;
    margin-top: 60px;
    margin-left: 15%;
    max-width: 350px;
}

.skills_container h3 {
    margin-bottom: 16px
}

.tech_skills_item,
.soft_skills_item {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
}
