* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    color: #000;
}

.wrapper {
    margin: 0 auto;
}

.main_container {
    background-color: #fff;
    margin: 40px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 5px grey;
}
